anyascii
asgiref
bcp47
beautifulsoup4
crispy-bootstrap4
certifi==2022.12.7
cffi
charset-normalizer
colorama
cryptography==40.0.2
defusedxml
Django
django-allauth
django-appconf
django-cogwheels
django-enumchoicefield
django-filter
django-mirage-field
django-modelcluster
django-nullmailer
django-permissionedforms
django-ranged-response
django-recaptcha
django-simple-captcha
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
et-xmlfile
html5lib
idna
l18n==2021.3
oauthlib
openpyxl
Pillow
pycparser
PyJWT
python-dotenv
python3-openid
pytz==2023.3
requests
requests-oauthlib
six
soupsieve
sqlparse
telepath
tqdm
tzdata==2024.1
Unidecode
urllib3
wagtail==5.2.3
wagtail-django-recaptcha
wagtail-generic-chooser
wagtailgeowidget
wagtailgmaps
wagtailmedia
wagtailmenus
wagtailstreamforms
wagtailvideos
webencodings
Willow
